<ion-header>
    <ion-toolbar>
        <ion-title>Serviços</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-row *ngFor="let service of professionalServiceList">
            <ion-item-sliding>
                <ion-item button
                          (click)="onViewDetails(service.id)">
                    <ion-avatar class="ion-avatar">
                        <img [src]="imageUrl || 'assets/img/product.png' ">
                    </ion-avatar>
                    <ion-label class="ion-label">
                        <h2>{{ service.name }}</h2>
                        <p>Categoria: {{ service.categoria }}</p>
                        <p>Valor: {{ service.valor }}</p>
                    </ion-label>
                </ion-item>
                <ion-item-options side="end">
                    <button ion-button
                            (click)="onUpdate(service.id)">Atualizar
                        <ion-icon name="pencil-outline"></ion-icon>
                    </button>
                    <button ion-button
                            (click)="onRemove($event, service.id)">Excluir
                        <ion-icon name="trash-outline"></ion-icon>
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-row>
    </ion-list>
    <ion-fab vertical="bottom"
             horizontal="end"
             slot="fixed">
        <ion-fab-button (click)="onAdd()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
