<ion-card class="professional-details__card"
          color="light">
    <div class="professional-details__card__img">
        <img [src]="professional?.avatar || 'assets/img/avatar.png'">
    </div>
    <ion-card-content class="professional-details__card__content">
        <h2>{{professional?.name}}</h2>
        <ion-text color="medium">
            <div class="professional-details__card__content__location-icon">
                <ion-icon name="location-outline"
                          color="medium">
                </ion-icon>
                <p>{{professional?.street}}</p>
            </div>
        </ion-text>
    </ion-card-content>
</ion-card>

<h5>Contato</h5>
<p>
    <ion-icon name="logo-whatsapp"></ion-icon> {{ professional?.mobile }}
</p>
<p>
    <ion-icon name="mail-outline"></ion-icon> {{ professional?.email }}
</p>
<h5>Especializações</h5>
<p>{{ professional?.descriptionWork }}</p>
<h5>Atende em domicilio</h5>
<p>{{ professional?.attendanceType === true ? 'Sim' : 'Não' }}</p>
<ion-item-divider>
    <h5>Lista de Serviços</h5>
</ion-item-divider>
<ion-card *ngFor="let service of professional?.services">
    <ion-card-header>
        <ion-card-title>{{ service.name }}</ion-card-title>
        <ion-card-subtitle>Categoria: {{service.category}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        <p>Valor: R${{ service.value }}</p>
        <p>Duração: {{ service.time | date: 'HH:mm' }}</p>
        <ion-button (click)="onNewAppointment(professional, service)"
                    expand="full">Agendar
            <ion-icon name="calendar-outline"></ion-icon>
        </ion-button>
    </ion-card-content>
</ion-card>
