.professional-details {
    &__card {
        box-shadow: 0px 2px 2p rgba(0, 0, 0, 0.2);
        overflow: visible;
        margin: 16px 0 24px;
        position: relative;
        padding-top: 80px;

        &__img {
            position: absolute;
            left: 50%;
            top: -10px;
            transform: translateX(-50%);
            border-radius: 10px;
            width: 80px;
            height: 80px;
        }

        &__content {
            text-align: center;
            
            &__location-icon {
                display: flex;
                justify-content: center;
            }
        }
    }
}
  