<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="dismiss()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Cadastro de serviço</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-professional-service-create-template [(form)]="form"
                                              [submitMethod]="submit">
    </app-professional-service-create-template>
</ion-content>
