<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="dismiss()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Agendamento</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form [formGroup]="form"
          (ngSubmit)="saveAppointment()">
        <h5>Profissional:</h5>
        <p>{{ professional.name }}</p>
        <h5>Contato:</h5>
        <p>
            <ion-icon name="logo-whatsapp"></ion-icon>{{ professional.mobile }}
        </p>
        <h5>Serviço:</h5>
        <p>{{ service.name }}</p>
        <p>Valor: R${{ service.value }}</p>
        <h5>Data do agendamento</h5>
        <ion-item>
            <ion-label>Data</ion-label>
            <ion-input readonly
                       formControlName="date"
                       [liIonic4Datepicker]="datePickerObj"
                       (ionChange)="onDateChange($event)">
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Horario</ion-label>
            <ion-select class="appointment-create__select-hour"
                        interface="action-sheet"
                        multiple="false"
                        cancelText="Cancelar"
                        okText="Ok"
                        formControlName="time">
                <ion-select-option *ngFor="let hour of hourTimes"
                                   [value]="hour">{{hour}}
                </ion-select-option>
            </ion-select>
        </ion-item>

        <ion-button class="margin"
                    type="submit"
                    expand="full">
            <p>Finalizar</p>
        </ion-button>
    </form>

</ion-content>
