<ion-header>
    <ion-toolbar>
        <ion-title>Cadastre seus serviços</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form [formGroup]="form"
          (ngSubmit)="submit()">
        <ion-item>
            <ion-label>Nome</ion-label>
            <ion-input formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Descrição</ion-label>
            <ion-input formControlName="description"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Valor</ion-label>
            <ion-input formControlName="value"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Duração</ion-label>
            <ion-datetime displayFormat="HH:mm"
                          formControlName="time">
            </ion-datetime>
        </ion-item>
        <ion-button class="margin"
                    type="submit"
                    expand="full">
            Salvar
        </ion-button>
        <ion-button class="margin"
                    type="button"
                    expand="full"
                    (click)="onGetAll()">
            Buscar todos
        </ion-button>
        <ion-button class="margin"
                    type="button"
                    expand="full"
                    (click)="onGetByID()">
            Buscar por id
        </ion-button>
        <ion-button class="margin"
                    type="button"
                    expand="full"
                    (click)="onUpdate()">
            Atualizar
        </ion-button>
        <ion-button class="margin"
                    type="button"
                    expand="full"
                    (click)="onDelete()">
            Remover
        </ion-button>
    </form>
</ion-content>
