<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="professional/list"></ion-back-button>
        </ion-buttons>
        <ion-title>Atualizar</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-card color="light">
        <div class="img-wrapper">
            <img [src]="imageUrl || 'assets/img/avatar.png' ">
            <ion-button color="light">
                <ion-icon slot="icon-only"
                          name="camera-outline"
                          color="medium">
                </ion-icon>
            </ion-button>
        </div>
        <ion-card-content class="ion-text-center">
            <h2>{{currentName}}</h2>
            <ion-text color="medium">
                <div style="display: flex;"
                     class="ion-justify-content-center">
                    <ion-icon name="location-outline"
                              color="medium">
                    </ion-icon>
                    <p>{{streetCurrentPosition}}</p>
                </div>
            </ion-text>
        </ion-card-content>
    </ion-card>

    <form [formGroup]="form"
          (ngSubmit)="submit()">
        <ion-item>
            <ion-label>Nome</ion-label>
            <ion-input formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>E-mail</ion-label>
            <ion-input formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Telefone</ion-label>
            <ion-input formControlName="mobile"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Especialidades</ion-label>
            <ion-input formControlName="descriptionWork"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Aniversário</ion-label>
            <ion-datetime #mydt
                          [pickerOptions]="customPickerOptions"
                          placeholder=""
                          displayFormat="DD/MMMM"
                          [(ngModel)]="selDate"
                          formControlName="birthday">
            </ion-datetime>
        </ion-item>
        <ion-list>
            <ion-item>
                <ion-label>Dias de atendimento</ion-label>
                <ion-select interface="action-sheet"
                            multiple="true"
                            cancelText="Cancelar"
                            okText="Salvar"
                            formControlName="weekDays">
                    <ion-select-option value="Segunda">Segunda</ion-select-option>
                    <ion-select-option value="Terça">Terça</ion-select-option>
                    <ion-select-option value="Quarta">Quarta</ion-select-option>
                    <ion-select-option value="Quinta">Quinta</ion-select-option>
                    <ion-select-option value="Sexta">Sexta</ion-select-option>
                    <ion-select-option value="Sábado">Sábado</ion-select-option>
                    <ion-select-option value="Domingo">Domingo</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>
        <ion-item>
            <ion-label>Atendimento a domicílio</ion-label>
            <ion-toggle [(ngModel)]="pepperoni"
                        formControlName="attendanceType"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Posição</ion-label>
            <ion-input (click)="onGetCurrentPosition()"></ion-input>
            {{streetCurrentPosition}}
        </ion-item>
        <ion-button class="margin"
                    type="submit"
                    expand="full">
            Salvar
        </ion-button>
    </form>
</ion-content>
