<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button (click)="back()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-back-button>
        </ion-buttons>
        <ion-title>{{ service?.name }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <h5>Categoria:</h5>
    <p>{{ service?.category }}</p>
    <h5>Descrição</h5>
    <p>{{ service?.description }}</p>
    <h5>Valor</h5>
    <p>{{ service?.value }}</p>
    <h5>Duração:</h5>
    <p>{{ service?.time}}</p>
</ion-content>
