<ion-header [translucent]="true">
    <ion-toolbar color="white">
        <ion-button (click)="loadMap()"
                    shape="round"
                    color="dark">
            <ion-icon slot="start"
                      name="locate">
            </ion-icon>
            Onde estou
        </ion-button>
        <ion-title slot="end">Google Map</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="map-wrapper">
        <div #map
             id="map">
        </div>
    </div>
</ion-content>
