#map_canvas {
    width: 90%;
    height: 100%;
    border: 1px solid red;
}

#address {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

#map {
    width: 100%;
    height: calc(100vh - 280px);
}

.map-wrapper {
    position: relative;

    #map_center {
        position: absolute;
        z-index: 99;
        top: 50%;
        left: 50%;
        margin-left: -21px;
        margin-top: -41px;
    }
}

.dashboard {
    &__cards {
        ion-slide {
            width: 31% !important;
            height: 100px;
            background: rgb(211, 206, 206, 0.5);
            padding: 10px;
            margin: 0px 5px !important;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            display: block;    
            overflow-x: scroll;
            border-radius:10px !important;
            overflow: hidden;  
        }

        &__avatar {
            
            display: flex;
            margin: 0 auto;
            width: 50%;
            height: 50%;

            img {
                width: 50%;
                height: 50%;
                border-radius:50% !important;
            }
        }

        &__name {
            ion-label {
                font-size: 70% !important;
                text-overflow: ellipsis;
                overflow: hidden;
                overflow-wrap: normal;
                display: block;
            }
        }
        
        &__chip {
            ion-chip {
                font-size: 45% !important;
                font-weight: bold;
            }
        }
    }
}
