<ion-header [translucent]="true">
    <ion-toolbar color="white">
        <ion-title slot="start">Profissionais disponíveis</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="map-wrapper">

        <ion-searchbar placeholder="O que você busca?"
                       (ionChange)="onFilterMarkers($event)">
        </ion-searchbar>

        <div #map
             id="map">
        </div>

        <div class="dashboard__cards">
            <ion-slides [options]="slidesOptions">
                <ion-slide *ngFor="let professional of professionalList"
                           (click)="presentModal(professional.id)">
                    <div class="dashboard__cards__name">
                        <ion-label>{{professional.name}}</ion-label>
                    </div>
                    <div class="dashboard__cards__chip">
                        <ion-chip>
                            <ion-label>
                                {{calculateDistance(professional.lat, professional.lng) | number:'1.2-2'}} KM
                            </ion-label>
                        </ion-chip>
                    </div>
                </ion-slide>
            </ion-slides>
        </div>
    </div>
</ion-content>
