<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="dismiss()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Informações sobre o Profissional</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <h5>Nome do profissional</h5>
    <p>{{ professional?.name }}</p>
    <h5>Contato</h5>
    <p>WhatsApp{{ professional?.mobile }}</p>
    <p>Email {{ professional?.email }}</p>
    <h5>Atende em:</h5>
    <p>{{ professional?.attendanceType }}</p>
    <h5>Descrição das especializações</h5>
    <p>{{ professional?.descriptionWork }}</p>
    <h5>Serviços</h5>
    <div *ngFor="let service of professional?.services">
        <p>{{service.category}} - {{ service.name }} - R${{ service.value }}
            <ion-button (click)="onNewAppointment(professional, service)">Agendar</ion-button>
        </p>
    </div>
</ion-content>
