<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="back()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{ professional?.name }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <h5>Contato</h5>
    <p>WhatsApp{{ professional?.mobile }}</p>
    <p>Email {{ professional?.email }}</p>
    <h5>Especializações</h5>
    <p>{{ professional?.descriptionWork }}</p>
    <ion-item-divider>
        <h5>Lista de Serviços</h5>
    </ion-item-divider>
    <ion-card *ngFor="let service of professional?.services">
        <ion-card-header>
            <ion-card-title>{{ service.name }}</ion-card-title>
            <ion-card-subtitle>Categoria: {{service.category}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <p>Valor: R${{ service.value }}</p>
            <p>Duração: {{ service.time | date: 'HH:mm' }}</p>
            <ion-button (click)="onNewAppointment(professional, service)"
                        expand="full">Agendar
                <ion-icon name="calendar-outline"></ion-icon>
            </ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>
